@{
    ViewData["Title"] = "Home Page";
}

<div class="container border mt-5">
    <div class="row align-items-center ">
        <div class="col ">
            <div class="mb-3 ">
                <h5 class="card-title">Card title</h5>

                <input type="text" id="userInput" class="form-control" placeholder="Kullanıcı Adın">
            </div>
            <div class="mb-3">

                <textarea class="form-control" id="messageInput" rows="3" placeholder="Mesajın"></textarea>
            </div>
            <button type="button" id="sendButton" class="btn btn-outline-success">Gönder</button>
        </div>
    </div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        
            <div id="messagesList" class="alert alert-primary" role="alert">
             
            </div>

    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>